<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="scorm2004testwrap.htm">
        <system.webServer>
            <staticContent>
                <clientCache cacheControlMode="DisableCache" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
