.modal {
  display: none;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}
.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

[data-modal-close] {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  background: #000;
  color: #fff;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}




.pill-edit-modal {
  width: 90vw;
  height: 75vh;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.pill-edit-content {
  flex: 1;
}

.pill-edit-content ul, .pill-edit-content li {
  margin:  0;
  padding:  0;
  list-style-type: none;
  list-style-position: inside;
}
.pill-edit-content ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end; /* bottom */
}
.pill-edit-content ul>li>span {
  display: block;
}
.pill-edit-content ul a {
  text-decoration: none;
  color: currentColor;
}

.pill-edit-tab {
  padding: .3em .7em;
  border: 1px solid #ccc;
  background-color: #eee;
  position: relative;
}
.pill-edit-gap:before,
.pill-edit-tab:before {
    content: '';
    border-bottom: 1px solid #ccc;
    width: .5em;
    position: absolute;
    bottom: -1px;
    left: -.5em;
}
.pill-edit-content ul>li:not(:first-of-type)>span{margin-left:.5em;}
.pill-edit-content ul>li.f1{flex:1}
.pill-edit-gap {
  position: relative;
  padding: .3em 0;
  border: 1px solid transparent;
  border-bottom-color: #ccc;
}
.pill-edit-content ul>li.active .pill-edit-tab {
  border-bottom-color: transparent;
  background-color: transparent;
}


.pill-edit-content a[data-action="select-tab"] {
  margin-right: 1em;
}
.pill-edit-content a[data-action="remove-tab"],
.pill-edit-content a[data-action="add-tab"] {
  color: #999;
  transition: color .3s ease;
}
.pill-edit-content a[data-action="remove-tab"]:hover,
.pill-edit-content a[data-action="add-tab"]:hover {
  color: #000;
}
.pill-edit-content ul>li.confirm-delete .pill-edit-tab {
  background-color: #fc3;
}
.pill-edit-content ul>li.confirm-delete a[data-action='remove-tab']:after {
  content: '?';
  font-style: italic;
  vertical-align: super;
  font-size: .6em;
}

.pill-edit-modal footer {
  background-color: #eee;
  padding: 10px;
  text-align: right;
}

.pill-edit-modal button[data-modal-action='save'] {
  min-width: 7em;
  background-color: deepskyblue;
  color: white;
  transition:  background-color .5s;
}
.pill-edit-modal button[data-modal-action='save'].dirty {
  background-color: orange;
}

.pill-edit-bodies .editor-wrapper .editor-surface-wrapper {
  display: flex;
}
.pill-edit-bodies .editor-wrapper #ta-dom {
  flex: 1;
  margin-right: 1em;
}