<!doctype html>
<html lang="en">
<head>
  <title>Course</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=100" >
  <meta name="description" content="E-learning course">
  <meta name="viewport" content="width=device-width">
  <script src="Layout/js/html5shiv.js"></script>
</head>
<body>

<noscript>
	This page uses JavaScript to automatically launch the course. This course will only function if JavaScript is enabled
</noscript>

<script language="JavaScript" type="text/javascript" src="Layout/js/sco_api.js"></script>

<script language="JavaScript" type="text/javascript">
    // this page is always loaded first so initalize the SCORM communications session
	initCommunications();
	
	// go to the en-us splash page.
	self.location.replace("en-us/Content.html"); // capital C
</script>

</body>
</html>
