a img {
	border: none;
}

img {
	&.box-shadow {
		.polaroid(5px);
	}
	&.big-shadow {
		.polaroid(20px);
	}
	&.box-shadow.pull-right {
		margin-left: @standardGutter;
	}
	&.box-shadow.pull-left {
		margin-left: @standardGutter;
	}
	&.default-max-width {
		max-width: 240px;
	}
	&.rp-zoomable {
		cursor: crosshair;
		cursor: -webkit-zoom-in;
	}
	&.full-max-width {
		max-width: 100%;
		height: auto;
	}
	&.play-button {
		margin: (@standardGutter / 2);
		padding: 0;
		.polaroid(5px);
		.box-shadow(0px, 0px, (@standardGutter * 2), 50);
		&:hover {
			border: 1px solid darken(@baseBorder,20%);
		}
	}
	&.left-margin {
		margin-left: @standardGutter;
	}
	&.left-margin-2x {
		margin-left: (@standardGutter * 2);
	}
	&.left-margin-5x {
		margin-left: (@standardGutter * 5);
	}

	&.right-margin {
		margin-right: @standardGutter;
	}
	&.right-margin-2x {
		margin-right: (@standardGutter * 2);
	}
	&.right-margin-5x {
		margin-right: (@standardGutter * 5);
	}

}

.inset-header {
	.display-right {
		padding: 25px;
	}
}

.image-margin-left {
	margin-left: @standardGutter;
}
.image-margin-right {
	margin-right: @standardGutter;
}

/*
.grid.header-inset .display-right img.rp-fadeinfast {
	margin-top: 25px;
}
*/

.fit-images {
	text-align: center;
}



