.visible-box-marker {
	box-shadow: 0px 3px 3px rgba(0,0,0,.2);
	padding: 2px 4px;
}

table.layout-booklike .visible-box-marker {
	display: inline-block;
}

table.layout-booklike .book-page-left {
		background: #ffffff;
		background: -moz-linear-gradient(left,  #ffffff 0%, #f2f2f2 95%, #b8bac6 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(95%,#f2f2f2), color-stop(100%,#b8bac6));
		background: -webkit-linear-gradient(left,  #ffffff 0%,#f2f2f2 95%,#b8bac6 100%);
		background: -o-linear-gradient(left,  #ffffff 0%,#f2f2f2 95%,#b8bac6 100%);
		background: -ms-linear-gradient(left,  #ffffff 0%,#f2f2f2 95%,#b8bac6 100%);
		background: linear-gradient(to right,  #ffffff 0%,#f2f2f2 95%,#b8bac6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b8bac6',GradientType=1 );
		border-right: 1px solid #fff;
}
table.layout-booklike .book-page-left .book-page-nav {
	text-align: left;
}

table.layout-booklike .book-page-right {
		background: #b8bac6;
		background: -moz-linear-gradient(left,  #b8bac6 0%, #f2f2f2 5%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b8bac6), color-stop(5%,#f2f2f2), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(left,  #b8bac6 0%,#f2f2f2 5%,#ffffff 100%);
		background: -o-linear-gradient(left,  #b8bac6 0%,#f2f2f2 5%,#ffffff 100%);
		background: -ms-linear-gradient(left,  #b8bac6 0%,#f2f2f2 5%,#ffffff 100%);
		background: linear-gradient(to right,  #b8bac6 0%,#f2f2f2 5%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8bac6', endColorstr='#ffffff',GradientType=1 );
}
table.layout-booklike .book-page-right .book-page-nav {
	text-align: right;
}

table.layout-booklike {
	margin: 1em;
	border: 1px solid #eee;
	border-radius: 3px;
}
