<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>%%template-title%% : Quiz</title>
		<link rel="stylesheet/less" type="text/css" href="../Layout/less/app.less" />

		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="../Layout/css/font-awesome-ie7.css"><![endif]-->
		<!--[if lt IE 9]><style>#questionList ul li a{text-overflow:clip}</style><![endif]-->

		<!-- begin_less -->
		<script>less = {env: "development", poll: 60001}</script>
		<script type="text/javascript" src="../Layout/js/less-1.3.3.min.js"></script>
		<script>less.watch();</script>
		<!-- end_less -->

		<!-- quiz -->
		<script type="text/javascript" src="../Layout/js/core.js"></script>
		<script type="text/javascript" src="../Layout/js/quiz.js"></script>

	</head>

	<body class="quiz-container"><div data="rp-quiz-layout">
		<div id="main" role="main" class="ui-layout-center">
			<div class="question" id="question"></div>
		</div>
		<div class="ui-layout-east">
			<div id="questionList"></div>
		</div>
		<div class="ui-layout-south">
			<div id="timeLimit"></div>
			<div id="testStatus"></div>
		</div>
	</div></body>

</html>
