.img-zoom {
	display:inline-block;
	position: relative;
	&.tablet img:hover { cursor: url(../css/grab.cur), default; }
	&.tablet img:active { cursor: url(../css/grabbed.cur), default; }
	&:after {
		content:'';
		display:block; 
		width:33px; 
		height:33px; 
		position:absolute; 
		top:0;
		right:0;
		background:url(../css/magnify.png);
	}
	img {
		display: block;
		&::selection { background-color: transparent; }
	}
	span {
		position: absolute;
		top: 3px;
		right: 28px;
		color: #555;
		font: bold 13px/1 sans-serif;
	}
}