table.glossary-table {
	border-collapse: collapse;
	margin: 0;
	width: 100%;
	th {
		text-align: right;
		vertical-align: top;
		padding: @standardGutter @standardGutter 0 0;
		color: @primaryColour;
		width: 16.5%;
	}
	td {
		text-align: left;
		vertical-align: top;
		padding: @standardGutter 0;
	}
}